.jumbotron {
    margin: 0px auto;
    padding: 70px 30px;
    background: #9575CD;
    color: floralwhite; 
    height: 400px;
}

h1 {
    text-align: center;
    color:black;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}